fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator

python-jose
passlib[bcrypt]
python-multipart

sentence-transformers
torch
numpy

qdrant-client

PyMuPDF

tiktoken

httpx
aiofiles

cachetools

python-dotenv

greenlet

orjson

aiosqlite

groq

numpy
asyncio
